* {
    font-family: Cambria, serif;
}
.body {
    
}

.fixed-top {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

.card1.fixed {
    position: fixed;
    top: 56px; /* zmeniť hodnotu na výšku vášho navbaru */
    left: 5px;
    margin-top: 10px;
}









